<?xml version="1.0" encoding="utf-16"?>
<EventQueueConfig>
  <PublishedEvents>
    <Event>
      <EventName>Application_Start</EventName>
      <Subscribers>9b6050ed-bdb4-480a-bb3f-3d7bde5fa8ff</Subscribers>
    </Event>
  </PublishedEvents>
  <EventQueueSubscribers>
    <Subscriber>
      <ID>9b6050ed-bdb4-480a-bb3f-3d7bde5fa8ff</ID>
      <Name>DNN Core</Name>
      <Address />
      <Description />
      <PrivateKey>F7FB690CF94B2A90F3957EA13B22F44E</PrivateKey>
    </Subscriber>
  </EventQueueSubscribers>
</EventQueueConfig>
