@import url("css/menu.css");
/*========================================================*/
/*--1. Default Style --*/
/*========================================================*/
body{background:#ffffff ;  padding:0px; margin:0px;  height:100%; }
p{padding:0px; margin:0px; font-family:Tahoma, sans-serif,  Verdana, Arial, Helvetica; font-size:10pt; color:#666; line-height:normal;  }
th,td,div{color:#666; font-family:Tahoma, sans-serif,  Verdana, Arial, Helvetica; }
H1, H2, H3, H4, H5, DT, H6
{
    font-family:Tahoma, sans-serif,  Verdana, Arial, Helvetica;
}
H1
{
    font-size: 24pt;
    font-weight: bold;
    color: #006;
    margin: 0;
    padding:0;
}

H2
{
    font-size: 18pt;
    font-weight: bold;
    color: #009;
    margin: 0;
    padding:0;
}

H3
{
    font-size: 14pt;
    font-weight: bold;
    color: #00C;
	margin: 0;
	padding:0;
}

H4
{
    font-size: 12pt;
    font-weight:bold;
    color: #00F;
	margin: 0;
	padding:0;
}

H5, DT
{
    font-size: 10pt;
    font-weight: bold;
    color: #03F;
	margin: 0;
	padding:0;
}

H6
{
    font-size: 8pt;
    font-weight: bold;
    color: #06F;
	margin: 0;
	padding:0;
}

TFOOT, THEAD    {
}


A:link{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #06F;
	text-decoration: none;
	font-weight:normal;
}
A:visited{
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color: #06F;
	text-decoration: none;
	font-weight:normal;
}
A:active{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;	
	color: #06F;
	text-decoration: none;
	font-weight:normal;
}
A:hover{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
   	color: #fc0;
	text-decoration: underline;
	font-weight:normal;
}

SMALL   {
 	font-family:Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	 font-size: 6pt;
    font-weight: normal;
    color: #666;
	margin: 0;
	padding:0;
}

BIG {
	font-family:Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	 font-size: 36pt;
    font-weight: normal;
    color: #666;
	margin: 0;
	padding:0;
}

BLOCKQUOTE, PRE {
}


UL LI   {
	list-style-image: url(images/GrayTabArrow.gif);
	font-family: Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

UL LI LI    {
	list-style-image: url(images/GrayTabArrow.gif);
	font-family: Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

UL LI LI LI {
	list-style-image: url(images/GrayTabArrow.gif);
	font-family: Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

OL LI   {
	font-family: Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

OL OL LI    {
	font-family:Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

OL OL OL LI {
	font-family: Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}
OL UL LI   {
	font-family: Tahoma, sans-serif,  Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}

HR {
}
/*Layout*/
.DigWrapper{ background:url(images/Head_TC.gif) top left  repeat-x ; height:110px;  padding:0; margin:0;}
.DigWrapper2{  width:960px;  padding:0; margin:auto;}
.Head_TL{ width:960px; padding:0; margin:0; height:110px;}
.Head_TC{background:url(images/Head_TC.gif) height:110px; width:100%; adding:0; margin:0;}
.Head_TR{background:url(images/Head_TR.gif) top right no-repeat ; height:110px; padding:0; margin:0; }
.Nav_TL{background:url(images/Nav_TL.gif) top left no-repeat ; height:27px; padding:0; margin:0; }
.Nav_TC{background:url(images/Nav_TC.gif) top  repeat-x ;  height:27px;  padding:0 ; margin:0 15px 0 15px; }
.Nav_TR{background:url(images/Nav_TR.gif) top right no-repeat ; height:27px; padding:0; margin:0px ; }
.Logo_style{   float:left;}
.Bg_White{background:#FFF; width:960px; margin:0; }
.Foot_BC{background:url(images/Foot_BC.gif) top repeat-x; width:960px; height:11px; margin:auto;}
/* Positon  And Others*/
.menu_style{float:left;}
.Fl_Left{float:left; padding:0; margin:0;}  
.Fl_Right{float:right; padding:0; margin:0;}
.Margin_Left{margin:0 0 0 15px; padding:0 ;}
.Margin_Right{margin:0 20px 0 0; padding:0 ;}
.Margin_LT{margin:3px 0 0 3px;}
.Margin_RT{margin:3px 3px 0 0;}
.Clear_Both{clear:both;}
.Bg_body{background-color:#858d95; }

/*========================================================*/
/*==2.Pane==*/
/*========================================================*/

.toppane {
	width: 100%;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom:2px;

}
.leftpane {
	width: 200px;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom:2px;

}
.rightpane {
	width: 100%;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom:2px;

}
.contentpane {
	width: 100%;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom:2px;


}
.bottompane{
	width: 100%;
	background-color: transparent;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom:2px;
}

/*========================================================*/
/*--3.Token-----*/
/*========================================================*/

.Login , A.Login:link, A.Login:visited, A.Login:active
{
	color: #06F; background:  url(images/Icon_Log.gif) no-repeat bottom left;  font-family: tahoma; font-size: 8pt; font-weight:normal; text-decoration: none; height:17px; float:right; padding: 2px 0 0 25px; margin: 0 0px 0 16px;
}
A.Login:hover    {
	color: #F90; background:  url(images/Icon_Log_Hov.gif) no-repeat bottom left;  font-family: tahoma; font-size: 8pt; font-weight:normal; text-decoration: none; height:17px; float:right; padding: 2px 0 0 25px; margin: 0 0px 0 16px;
}
.USER, A.USER:link, A.USER:visited, A.USER:active{
	color: #06F; background:  url(images/Icon_Reg.gif) no-repeat bottom left;  font-family: tahoma; font-size: 8pt; font-weight:normal; text-decoration: none; height:17px; float:right; padding: 2px 0 0 25px; margin: 0 0px 0 16px;
}

A.USER:hover    {
   color: #F90; background:  url(images/Icon_Reg_Hov.gif) no-repeat bottom left;  font-family: tahoma; font-size: 8pt; font-weight:normal; text-decoration: none; height:17px; float:right; padding: 2px 0 0 25px; margin: 0 0px 0 16px;
}

.BREADCRUMB{
	color: #999;
	font-family: sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 1px;
	padding-right: 1px;
}

A.BREADCRUMB:link {
    text-decoration:none;
    color:#999;
}
A.BREADCRUMB:visited  {
    text-decoration:none;
	  color:#999;

}
A.BREADCRUMB:active   {
    text-decoration:none;
	  color:#999;
}

A.BREADCRUMB:hover    {
    text-decoration:underline;
    color:#FC0;
}
/* text and link style for SkinObjects */
.SkinObject
{
	color: #900;
	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	height: 13px;
	padding-left: 1px;
	padding-right: 1px;
}
A.SkinObject:link
{
	text-decoration: none;
	 color:#06F;
}
A.SkinObject:visited
{
	text-decoration: none;
	 color:#999;
}
A.SkinObject:active
{
	text-decoration: none;
	 color:#06F;
}
A.SkinObject:hover
{
	color: #FC0;
	text-decoration: underline;
}

.Search
{
	font-weight: bold;
	font-size: 12px;
	color: #06F;
	font-family: Arial;
	height: 17px;
	vertical-align:middle;
}
A.Search:link
{
	padding-right: 5px;
	padding-left: 5px;
	color: #06F;
	text-decoration: none;
}
A.Search:visited
{
	color:#999;
	text-decoration: none;
}
A.Search:active
{
	color: #06F;
	text-decoration: none;
}
A.Search:hover
{
	color: #FC0;
	text-decoration: none;
}
.Search_Button
{
	vertical-align: middle;
}
.CopyRight{
	color: #FFF;
	font-family: sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding:10px ;

}
A.CopyRight:link
{
	text-decoration: none;
	 color:#FFF;
}
A.CopyRight:visited
{
	text-decoration: none;
	 color:#FFF;
}
A.CopyRight:active
{
	text-decoration: none;
	 color:#FFF;
}
A.CopyRight:hover
{
	color: #F90;
	text-decoration: underline;
}
.Terms{
	color: #039;
	font-family: sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	height: 13px;
	padding-left: 1px;
	padding-right: 1px;
}
A.Terms:link
{
	text-decoration: none;
	 color:#039;
}
A.Terms:visited
{
	text-decoration: none;
	 color:#039;
}
A.Terms:active
{
	text-decoration: none;
	 color:#039;
}
A.Terms:hover
{
	color: #FC0;
	text-decoration: underline;
}
.Privacy{
	color: #039;
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:9pt;
	font-weight: normal;
	font-style: normal;
	height: 13px;
	padding-left: 1px;
	padding-right: 1px;
}
A.Privacy:link
{
	text-decoration: none;
	 color: #0033FF;
}
A.Privacy:visited
{
	text-decoration: none;
	 color: #0099FF;
}
A.Privacy:active
{
	text-decoration: none;
	 color: #0099FF;
}
A.Privacy:hover
{
	color: #FF6600;
	text-decoration: underline;
}
.Date{
   	font-family: sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size: 10pt;
	font-weight: normal;
	font-style: normal;
	color: #039;
}

/*============================================================================*/
/*==4.Style For Portal.css 													==*/
/*============================================================================*/
/*-- Style for Module Title--*/
.Head   {
    font-family: sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:12pt;
    font-weight: Bold;
    color: #003399;
}
/* style of item titles on edit and admin pages */
.SubHead{
 	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:10pt;
	font-weight: Bold;
	font-style: normal;
	color: #0033FF;
}
.SubSubHead {
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:8pt;
	font-weight: Bold;
	font-style: normal;
	color: #0099FF;
}
/* text style used for most text rendered by modules */
.Normal{
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:10pt;
	font-weight: normal;
	font-style: normal;
	color: #666;
}
.Normal_black{
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:10pt;
	font-weight: normal;
	font-style: normal;
	color: #000;
}
.Normal_red{
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:10pt;
	font-weight: normal;
	font-style: normal;
	color: #F00;
}
.Normal_green{
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size:10pt;
	font-weight: normal;
	font-style: normal;
	color:#060;
}
/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox{
	border:1px #999999 solid;
	background:#FFFFFF;

}
/* Button Style used for Buttons */
.StandardButton{
	border:1px #333333 solid;
	background:#F1F1F1;
}
.CommandButton{
	color: #F60;
	font-family:sans-serif, Tahoma, Verdana, Arial, Helvetica;
	font-size: 9pt;
	font-weight: normal;
	font-style: normal;
	padding-left: 1px;
	padding-right: 1px;
}

A.CommandButton:link {
    text-decoration:none;
    color:#F60;
}
A.CommandButton:visited  {
    text-decoration:none;
	  color:#999;

}
A.CommandButton:active   {
    text-decoration:none;
	  color:#F60;
}

A.CommandButton:hover    {
    text-decoration:underline;
    color:#FC0;
}
/*-Style for Page setting- */
.WorkPanel{
	text-align:left;
}



/* ODL Website (SOMPOL) */
.HEADER-STYLE
{
	font-size: 8pt;
	color: White;
	font-family: Tahoma;
	height: 14pt;
	background-color: #396594;
}	

.FOOTER-STYLE
{
	color: White;
	background-color : #CECFBD;
	font-family: Tahoma;
    font-size: 8pt;	
    height: 14pt;
    /* #CECFBD */
}	
.GRID-STYLE
{
	background-color : #EFEBDE;
	color: Black;
	font-family: Tahoma;
    font-size: 8pt;	
}
/* title font attribute */
.FormFld {
	color:#0000FF;
    BACKGROUND-COLOR: #F1EEE9;
    BORDER-BOTTOM: 1px dotted #97A1C9;
    BORDER-LEFT: 1px dotted #F1EEE9;
    BORDER-RIGHT: 1px dotted #F1EEE9;
    BORDER-TOP: 1px dotted #F1EEE9;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 10pt;
    HEIGHT: 20px;
    width: 30px
}
.FormLabel 
{
	font-family:Tahoma;
	font-size:10pt;
	color:#000000;
}
.FormErr 
{
	font-family: Tahoma;
	font-size:14pt;
	color:Red;
	font-weight: bold;
	text-decoration: blink;
}

.FormHeader 
{
	font-family:Tahoma;
	font-size:13pt;
	color:#000000;
	font-weight: bold;
}
.groupbox 
{
	font-family:Tahoma;
	font-size:10pt;
	color:#000000;
	font-weight: bold;
}

/* title corner background color */
.groupboxcorner
{
	background-color: #F1EEE9;
}

/* title corner background color */
.groupboxcornerimg
{
	width:19px;
	height:19px;
   	background-image:url(../images/groupbox/corner.gif);
}

/* title background color */
.groupboxheader
{
	background-color: #8ADAE6; 
	border-bottom: 1px solid #259DC2;
}

.m-body {
    BACKGROUND-COLOR: #FFFFFF;
}

.m-body2 {
    BACKGROUND-COLOR: #FFFFFF;
    overflow: hidden; 
}

/* WebForm Page Navigator */
.m-frm-nav          {color:#cccccc; font-family:Tahoma; font-size:11px;}
a.m-frm-nav:Active  {color:#ffffff; text-decoration:none;}
a.m-frm-nav:Visited {color:#ffffff; text-decoration:none;}
a.m-frm-nav:Hover   {color:#ff0000;}
a.m-frm-nav:Link    {color:#ffffff; text-decoration:none;}



/* Form */
.m-form {
   BACKGROUND-COLOR: #EEEEEE;
   BORDER-BOTTOM: #97A1C9 1px solid;
   BORDER-LEFT: #97A1C9 1px solid;
   BORDER-RIGHT: #97A1C9 1px solid;
   BORDER-TOP: #97A1C9 1px solid;
   FONT-FAMILY: Tahoma;
   FONT-SIZE: 8pt;
}

/* WebForm Caption */
.m-frm-hdr {
	font-family: Tahoma;
	font-weight: bold;
	background-color: #F1EEE9;
	color: #000000;
	text-decoration: none;
}


/* WebForm Border */
.m-frm-bdr {
	font-family:Tahoma;
	font-weight: normal;
	padding-top: 0px;
	overflow: hidden; 
	background-color: #F1EEE9;
	border-style: solid; 
	border-color: #C0C0C0; 
	border-width:1px;
}

.m-frm-bdr2 {
	font-family:Tahoma;
	font-weight: normal;
	overflow: hidden; 
	background-color: #FFFFFF;
    	BORDER-BOTTOM: white 1px solid;
	border-color: #8D8D80; 
	border-width: 1px;
	padding-top: 0px;
}
.m-frm-bdr3 {
	font-family:Tahoma;
	font-weight: normal;
	overflow: hidden; 
	background-color: #F1EEE9;
}

/* WebForm Page Navigator */
.m-frm-nav          {color:#cccccc; font-family:Tahoma; font-size:11px;}
a.m-frm-nav:Active  {color:#ffffff; text-decoration:none;}
a.m-frm-nav:Visited {color:#ffffff; text-decoration:none;}
a.m-frm-nav:Hover   {color:#ff0000;}
a.m-frm-nav:Link    {color:#ffffff; text-decoration:none;}


/* Fields */
.hd-msg {
    COLOR: #FFFFFF;
    BACKGROUND-COLOR: #000000;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Tahoma;
    font-weight: normal
}

.m-fld {
   FONT-FAMILY: Tahoma;
   FONT-SIZE: 9pt;
   HEIGHT: 18px;
   width: 30px
}

.m-fld2 {
    BACKGROUND-COLOR: #EEEEEE;
    BORDER-BOTTOM: #97A1C9 1px solid;
    BORDER-LEFT: #97A1C9 1px solid;
    BORDER-RIGHT: #97A1C9 1px solid;
    BORDER-TOP: #97A1C9 1px solid;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 9pt;
    HEIGHT: 18px;
    width: 30px;
}
.m-fld-view {
    COLOR: blue;
    BACKGROUND-COLOR: #EEEEEE;
    BORDER-BOTTOM: #97A1C9 1px solid;
    BORDER-LEFT: #97A1C9 1px solid;
    BORDER-RIGHT: #97A1C9 1px solid;
    BORDER-TOP: #97A1C9 1px solid;
    FONT-SIZE: 8pt;
    HEIGHT: 18px;
    FONT-FAMILY: Tahoma;
    font-weight: normal;

}
/* Fields Optional */
.m-fld-cpn {
   font-family: Tahoma;
   font-size: 8pt;
   color: #000000;
}
/* Standard Buttons */
.m-btn {
   BACKGROUND-IMAGE: url(../images/buttons/ieback.gif);
   BORDER-BOTTOM: #7e7e72 1px solid;
   BORDER-LEFT: #cdcdbe 1px solid;
   BORDER-RIGHT: #7e7e72 1px solid;
   BORDER-TOP: #cdcdbe 1px solid;
   COLOR: #000000;
   CURSOR: hand;
   FONT-FAMILY: Tahoma;
   FONT-SIZE: 9pt;
   TEXT-ALIGN: center
}

.m-btn-dtm {
   BACKGROUND-IMAGE: url(../images/buttons/b_calendar.gif);
   BORDER-BOTTOM: #7e7e72 1px solid;
   BORDER-LEFT: #cdcdbe 1px solid;
   BORDER-RIGHT: #7e7e72 1px solid;
   BORDER-TOP: #cdcdbe 1px solid;
   COLOR: #000000;
   CURSOR: hand;
   FONT-FAMILY: Tahoma;
   FONT-SIZE: 8pt;
   TEXT-ALIGN: center
}
/* Error Messages */
.m-err {
   color: Red;
   FONT-WEIGHT: bold;
   FONT-SIZE: 8pt;
   FONT-FAMILY: Tahoma;
}
/* Alert Messages */
.m-alert {
   color: Blue;
   FONT-WEIGHT: bold;
   FONT-SIZE: 8pt;
   FONT-FAMILY: Tahoma;
}

/* DataGrid */
.m-grd-num {
   BACKGROUND-COLOR: #EEEEEE;
   BORDER-BOTTOM: #97A1C9 1px solid;
   BORDER-LEFT: #97A1C9 1px solid;
   BORDER-RIGHT: #97A1C9 1px solid;
   BORDER-TOP: #97A1C9 1px solid;
   FONT-FAMILY: Tahoma;
   FONT-SIZE: 8pt;
   TEXT-ALIGN: right
}
.m-grd-txt {
   BACKGROUND-COLOR: #EEEEEE;
   BORDER-BOTTOM: #97A1C9 1px solid;
   BORDER-LEFT: #97A1C9 1px solid;
   BORDER-RIGHT: #97A1C9 1px solid;
   BORDER-TOP: #97A1C9 1px solid;
   FONT-FAMILY: Tahoma;
   FONT-SIZE: 8pt;
}